@import "global";

.signin-page {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    display: block;
}

.signin-container {
	margin: 0 auto;
    width: 78%;
    
}

.signin-container-body {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid lightgray;
    padding-Top: 1rem;
    background-color: white;

    -webkit-box-shadow: 0px 0px 64px -18px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 64px -18px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 64px -18px rgba(0,0,0,0.34);
}

.signin-container-header {
    margin-top: 4rem;
    margin-bottom: 2rem;     
}

@media #{$medium-and-up} {
	.signin-container {
		width: 45%;
	}
}
@media #{$large-and-up} {
	.signin-container {
		width: 26%;
	}
}