.btn {
    border: none;
    display: inline-block;
    min-width: 110px;
    margin-bottom: 0.7rem;
    padding: 12px 10px;
    font: 700 12px/1 'Open Sans', sans-serif;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    cursor: pointer;
    color: #FFFFFF;
}

.default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    background: #fff;
}

.default:hover { background: #f5f5f5 }

.blue {background: #59d;}
.blue:hover { background: #48c }

.green {background: #6b6;}
.green:hover { background: #5a5 }

.black {background: #555;}
.black:hover { background: #444  }

.red {background: #d33;}
.red:hover { background: #c22 }

.btn.disabled {
	background-color: lightgray;
    color: darkgray;  
}

button {
	width: 100%;
}