
@import "global";
@import url('https://fonts.googleapis.com/css?family=Play');

nav {
	background-color: #24292E;
	box-shadow: 2px 2px 8px lightgray;
    position: relative;
    height: 2.5rem;

    ul.nav-wrapper {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
        overflow: hidden;
                
        li {
            float: left;

            .nav-link {
                display: block;
                text-align: center;
                padding: 0.8rem;

                a {
					color: #C8C9CA;
					text-decoration: none;
                    font-weight: bold;
                    font-size: small;
					cursor: pointer;
					font-family: 'Play', sans-serif;
				}
				a:hover {
					color: #FFFFFF;
				}
            }

            .nav-brand {
				img {
					margin-top: 0.5rem;
					height: 2.5rem;
				}
			}
        }
    }

    @media #{$medium-and-up} {
		ul.nav-wrapper {
			width: 85%;

			li {
				.nav-user-dropdown {
					right: 9%;
				}
			}
		}
	}
	@media #{$large-and-up} {
		ul.nav-wrapper {
			width: 80%;

			li {
				.nav-user-dropdown {
					right: 16.5%;
				}
			}
		}
	}
}