
@import "global";
@import url('https://fonts.googleapis.com/css?family=Play');

nav {
	background-color: #24292E;
	box-shadow: 2px 2px 8px lightgray;
    position: relative;
    height: 2.5rem;

    ul.nav-wrapper {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
        overflow: hidden;
                
        li {
            float: left;

            .nav-link {
                display: block;
                text-align: center;
                padding: 0.8rem;

                a {
					color: #C8C9CA;
					text-decoration: none;
                    font-weight: bold;
                    font-size: small;
					cursor: pointer;
					font-family: 'Play', sans-serif;
				}
				a:hover {
					color: #FFFFFF;
				}
            }

            .nav-brand {
				img {
					margin-top: 0.5rem;
					height: 2.5rem;
				}
            }
            
            .nav-user {
				padding: 0.6rem;
            }
            
            .nav-user-wrapper {
				display: block;
                cursor: pointer;

                .nav-user-img {
					display: inline-block;
					height: 1.2rem;
					margin-right: 0.2rem;
					border-radius: 20%;
					vertical-align: -40%;
				}
				span {
					display: inline-block;
					svg {
						height: 0.6rem;
						width: 0.6rem;
						fill: #C8C9CA;
					}
				}
            }

            .nav-user-wrapper:hover {
				span {
					svg {
						fill: #FFFFFF;
					}
				}
            }
            
            .nav-user-dropdown {
				display: none;
				position: absolute;
				background-color: white;
                box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
                border-radius: 3%;
				min-width: 10rem;
				padding: 0.6rem 0 0.2rem 0;
				top: 2.2rem;
				right: 2%;
				z-index: 100;

				.dropdown-boxarrow-up {
					position: absolute;
					right: 10px; top: -7px;
					width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid white;
				}

				.nav-user-name{
                    display: block;
                    padding: 0.4rem 1rem;
                    font-size: small;
                    color: #586069;
                }

                .nav-user-separator{
                    padding: 0rem; 
                    margin: 0.2rem 0rem 0.2rem 0rem;
                    border: 0 none #E1E4E8; 
                    border-top: 1px solid #E1E4E8;
                }

				.nav-user-link {
					display: block;
                    padding: 0.4rem 1rem;
                    font-size: small;
				}

				.nav-user-name {
					.nav-user-icon {
						height: 20px;
						width: 20px;
						fill: darkgrey;
						padding-right: 0.4rem;
						vertical-align: text-top;
					}
				}
				.nav-user-link:hover {
					background-color: #0366D6;
					color: white;
					cursor: pointer;
				}
			}

			.nav-user-dropdown-show {display:block;}
        }

        li.nav-right {
			float: right;
		}
    }

    @media #{$medium-and-up} {
		ul.nav-wrapper {
			width: 85%;

			li {
				.nav-user-dropdown {
					right: 9.8%;
				}
			}
		}
	}
	@media #{$large-and-up} {
		ul.nav-wrapper {
			width: 80%;

			li {
				.nav-user-dropdown {
					right: 11.2%;
				}
			}
		}
	}
}